@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Press+Start+2P&display=swap");

:root {
  --primary: #cdb4db;
  --secondary: #ffafcc;
  --tertiary: #ffc8dd;
  --secondary-contrast: #694854;
  --primary-contrast: #745898;
  --success: #60d394;
  --danger: #ee6055;
  --bg-light: #ffe5ec;
  --bg-dark: #9cadce;
  --text-light: #f8edeb;
  --text-dark: #f08080;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.react-flow__attribution {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
