.container {
  width: 100%;
  height: 100%;
  max-width: 376px;
  max-height: 400px;
  padding: 12px 0;
  margin: 12px 32px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.tab {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: 0.35rem;
}

.tab::-webkit-scrollbar {
  width: 0.35rem;
}

.tab::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #333;
  border-radius: 1rem;
}

.tab::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 1rem;
}

.outer_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(17, 24, 39);
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.controllers {
  width: 100%;
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
