.dialog {
  position: relative;
  z-index: 10;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.95);
}

.dialog_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.dialog_inner_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.transition_enter {
  transition-timing-function: ease-out;
  transition-duration: 300ms;
}

.transition_leave {
  transition-timing-function: ease-in;
  transition-duration: 200ms;
}

.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1;
}

.scale_down {
  transform: scale(0.95);
}

.scale_base {
  transform: scale(1);
}
