.modes {
  width: 80%;
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.15);
}

.modes > button {
  background: none;
  border: none;
  width: 33.34%;
  padding: 16px 0;
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-light);
  font-family: "Press Start 2P", sans-serif;
  cursor: pointer;
  text-transform: capitalize;
  transition: background-color 125ms ease-in;
}

.modes > button:first-child {
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.modes > button:last-child {
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.modes > button.selected {
  background-color: rgba(0, 0, 0, 0.3);
}

.modes > button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.modes > button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
