.options {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option {
  width: 80%;
  min-width: 180px;
  padding: 12px;
  margin: 12px 0;
  padding-left: 40px;
  color: #333;
  background-color: #d3d3d3;
  border-radius: 0.5rem;
  text-align: left;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  transition: 150ms ease-in;
}

.correct_option {
  color: #fff;
  background-color: rgb(25, 105, 25);
}

.wrong_option {
  animation: wrong_feedback 0.8s ease-in-out forwards;
  color: #fff;
}

@keyframes wrong_feedback {
  35%,
  65%,
  100% {
    background-color: rgb(145, 15, 15);
  }
  0%,
  50%,
  75% {
    background-color: #d3d3d3;
  }
}
