.volume {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0 12px;
}

.volume_bar_in {
  animation: slide-in 850ms cubic-bezier(0, 0, 0.2, 1) forwards;
  opacity: 0;
}

.volume_bar_in:first-child {
  animation-delay: 275ms;
}

.volume:focus {
  outline: 1px solid #fff;
}

@keyframes slide-in {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.volume_bar_out {
  animation: slide-out 850ms cubic-bezier(0, 0, 0.2, 1) forwards;
  opacity: 1;
}

.volume_bar_out:first-child {
  animation-delay: 275ms;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-10%);
    opacity: 0;
  }
}

.volume_speaker {
  animation: shaky-shaky 250ms ease forwards;
  transform-origin: center center;
}

@keyframes shaky-shaky {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
